<form [formGroup]="iiForm">

    <div class="form-group" [hidden]="ii?.detailII?.categoryII===''">

        <label for="subCategoryII" class="required">Kategori Innovation Idea</label>
                
            <span class="select">
            
            <select
                id="subCategoryII" 
                formControlName="categoryII"
                (change)="categorySelected($event.target.value)">                        
                    
                <option *ngFor="let item of subCategory" 
                    [value]="item.value"
                    selected="item.value==='ii?.detailII?.categoryII'">
                    {{item.name}}
                </option>                
            </select>
            
        </span>
            
    </div>

    <div class="form-group">
      <label>Latar Belakang</label>
      <textarea formControlName="businessCase"></textarea>
    </div>

    <div class="form-group">
      <label>Deskripsi Ide</label>
      <textarea formControlName="description"></textarea>
    </div>                    

    <div class="form-group">
      <label>Cost & Benefit Analysis</label>
      <textarea formControlName="costAndBenefit"></textarea>
    </div>

    <div *ngFor="let tipeAttachment of tipe" >
        <div class="form-group" *ngIf="attachment.get('attachment'+toTitleCase(tipeAttachment)).value.length > 0">
            <label for="attach">Attachment {{toTitleCase(tipeAttachment)}} (*.{{tipeAttachment}})</label>
        </div>

        <div>
        <div class="form-group"
             id="attach"
             *ngFor="let apalah of attachment.get('attachment'+toTitleCase(tipeAttachment)).controls; let i = index" [attr.data-index]="i">
            
            <div class="attach">
                <a [href]="attachment.get('attachment'+toTitleCase(tipeAttachment)).value[i].fullPath"
                    target="_blank"
                    rel="noopener noreferrer">

                    <b>{{attachment.get('attachment'+toTitleCase(tipeAttachment)).value[i].fileName}}</b>

                </a>

            </div>

        </div>
        </div>

    </div>

    <!-- <div class="form-group" *ngIf="resultXls.length > 0">
        <label for="attach">Attachment Xls</label>
    </div>

    <div>
        <div
        class="form-group"
        id="attach"
        *ngFor="let test1 of resultXls; let i = index" [attr.data-index]="i">
            <div class="attach">
            
                <a [href]="fullPathXls[i]"
                    target="_blank"
                    rel="noopener noreferrer">
                    <b>{{test1}}</b>
                </a>

            </div>

        </div>

    </div>

    <div class="form-group" *ngIf="resultMp4.length > 0">
        <label for="attach">Attachment mp4</label>
    </div>

    <div>
        <div
        class="form-group"
        id="attach"
        *ngFor="let test1 of resultMp4; let i = index" [attr.data-index]="i">
            <div class="attach">
            
                <a [href]="fullPathMp4[i]"
                    target="_blank"
                    rel="noopener noreferrer">
                    <b>{{test1}}</b>
                </a>

            </div>

        </div>

    </div>

    <div class="form-group" *ngIf="resultMov.length > 0">
        <label for="attach">Attachment Mov</label>
    </div>

    <div>
        <div
        class="form-group"
        id="attach"
        *ngFor="let test1 of resultMov; let i = index" [attr.data-index]="i">
            <div class="attach">

                <a [href]="fullPathMov[i]"
                    target="_blank"
                    rel="noopener noreferrer">
                    <b>{{test1}}</b>
                </a>

            </div>

        </div>

    </div> -->
    
</form>