<clr-main-container>
    <fema-cms-header></fema-cms-header>

    <div class="content-container">
        <fema-cms-nav></fema-cms-nav>

        <main class="content-area"
              #clrContentArea>
            <h1>View Channel: {{viewForm?.getRawValue()?.channel}}</h1>

            <form [formGroup]="viewForm">

                <section class="form-block row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">

                        <div class="form-group">
                            <label for="channelField">Channel</label>
                            <input type="text"
                                   id="channelField"
                                   placeholder="Channel"
                                   size="250"
                                   readonly
                                   formControlName="channel"/>
                        </div>

                        <div class="form-group">
                            <label for="receiverFileField">Icon (*.jpg/*.png)</label>
                            <img [src]="viewForm?.getRawValue()?.iconChannelPath | safeUrl">
                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">

                        <div class="form-group">
                            <label for="descriptionField">Description</label>
                            <textarea id="descriptionField"
                                      formControlName="description"
                                      rows="4"
                                      maxlength="250"></textarea>
                        </div>

                    </div>

                </section>

                <section class="form-block">
                    <label>Video</label>

                    <clr-datagrid>
                        <clr-dg-column>Title</clr-dg-column>
                        <clr-dg-column>Thumbnail</clr-dg-column>

                        <clr-dg-placeholder>No data found!</clr-dg-placeholder>

                        <ng-container formArrayName="fiftubes">
                            <clr-dg-row *clrDgItems="let fiftube of fiftubesForm?.controls; let i = index;"
                                        [clrDgItem]="viewForm?.getRawValue()?.fiftubes[i?.toString()]"
                                        [formGroupName]="i">

                                <clr-dg-cell>
                                    <input type="text"
                                           placeholder="Video title"
                                           readonly
                                           formControlName="title"/>
                                </clr-dg-cell>
                                <clr-dg-cell>
                                    <img
                                        [src]="viewForm?.getRawValue()?.fiftubes[i?.toString()]?.thumbnailUrl | safeUrl"
                                        [alt]="viewForm?.getRawValue()?.fiftubes[i?.toString()]?.title"/>
                                </clr-dg-cell>
                            </clr-dg-row>
                        </ng-container>

                    </clr-datagrid>

                </section>

                <section class="form-block">
                    <label>Viewer</label>

                    <div class="form-group">
                        <label for="viewerTypeField">Target Viewer</label>
                        <input type="text"
                               id="viewerTypeField"
                               size="50"
                               readonly
                               formControlName="viewer"/>
                    </div>

                    <table class="table">

                        <thead>

                        <tr>
                            <th>Company</th>
                            <th>People Type</th>
                            <th>Branch</th>
                            <th>Organization</th>
                            <th>Job Group</th>
                            <th>Job</th>
                            <th>Username</th>
                        </tr>

                        </thead>

                        <tbody>

                        <tr *ngFor="let item of viewerSummary">
                            <td>{{item?.company || '-'}}</td>
                            <td>{{item?.peopleType || '-'}}</td>
                            <td>{{item?.branch || '-'}}</td>
                            <td>{{item?.organization || '-'}}</td>
                            <td>{{item?.jobGroup || '-'}}</td>
                            <td>{{item?.job || '-'}}</td>
                            <td>{{item?.username || '-'}}</td>
                        </tr>

                        </tbody>

                    </table>

                </section>

            </form>

            <button type="button"
                    class="btn btn-primary btn-right"
                    (click)="back($event)">
                <clr-icon shape="undo"></clr-icon>
                Cancel
            </button>

        </main>
    </div>
</clr-main-container>
