<clr-modal [(clrModalOpen)]="isOpen"
           [clrModalClosable]="false">

    <h3 class="modal-title">Download Failed Record</h3>

    <div class="modal-body">

        <p>Are you sure you want to download failed record?</p>

    </div>

    <div class="modal-footer">

        <button type="button"
                class="btn btn-outline"
                (click)="closeModal($event)">No
        </button>

        <button type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                (click)="doDownload($event)">Yes
        </button>

    </div>

</clr-modal>
