
  .level-approval-border {
    padding: 10px;
    width: 500px; 
    border: 1px solid rgb(175, 169, 169);
    border-radius: 3px;
  }
  
  .level-approval {
    width: 1%;
    height: 200px;
    background-color: powderblue;
  }
  .btn-right{
    justify-content: flex-end;
    float: right;
  }
  .btn-delete{
    margin-left: 40px; 

  }