<div name="indonesia" *ngIf="bahasa==='indonesia'; else elseBlock">

    <clr-modal [(clrModalOpen)]="isOpen" [clrModalClosable]="false">

        <h3 class="modal-title">Memproses untuk Menyimpan</h3>
        
        <div class="modal-body">
            <p>Apakah anda yakin sudah benar?</p>
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-outline" type="button" (click)="closeModal($event)">Tidak</button>
            <button class="btn btn-primary" type="button" (click)="saveAction($event)">
                <clr-icon shape="floppy"></clr-icon>
                Ya, Simpan
            </button>
        </div>

    </clr-modal>

    <clr-modal [(clrModalOpen)]="isOpenSuccess" [clrModalClosable]="false" *ngIf="bahasa==='indonesia'; else elseBlock">

            <h3 class="modal-title">Data telah disimpan</h3>
        
            <div class="modal-footer">
                <button class="btn btn-outline" type="button" [routerLink]="[returnLink]">OK</button>
            </div>
        
    </clr-modal>

</div>

<ng-template #elseBlock>

    <clr-modal [(clrModalOpen)]="isOpen" [clrModalClosable]="false">

        <h3 class="modal-title">Proceed to Save</h3>
    
        <div class="modal-body">
            <p>Are you sure want to save this setup?</p>
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-outline" type="button" (click)="closeModal($event)">No</button>
            <button class="btn btn-primary" type="button" (click)="saveAction($event)">
                <clr-icon shape="floppy"></clr-icon>
                Yes, Save
            </button>
        </div>

    </clr-modal>

    <clr-modal [(clrModalOpen)]="isOpenSuccess" [clrModalClosable]="false">

            <h3 class="modal-title">Data has been saved</h3>
        
            <div class="modal-footer">
                <button class="btn btn-outline" type="button" [routerLink]="[returnLink]">OK</button>
            </div>
        
    </clr-modal>

</ng-template>
