<clr-main-container>
    <fema-cms-header></fema-cms-header>

    <div class="content-container">
        <fema-cms-nav></fema-cms-nav>

        <main class="content-area">
            <h1>Create Upload Assignment</h1>

            <br>

            <a class="btn btn-outline" [href]="templateUrl | safeUrl" download="FEMA-TEMPLATE-UPLOAD-ASSIGNMENT.xls">
                <clr-icon shape="download"></clr-icon>
                Download Template
            </a>

            <br>

            <hr/>

            <clr-alert [clrAlertType]="'alert-warning'" [(clrAlertClosed)]="fileIsValid">
                <div clr-alert-item class="alert-item">
                    <span class="alert-text">
                        File format is invalid
                    </span>
                </div>
            </clr-alert>

            <form>

                <div class="form-group">
                    <label class="required">File</label>

                    <div style="display: flex; flex-direction: column;">
                        <label for="receiverFileField" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="false">
                            <input type="file" id="receiverFileField" required (change)="selectUa($event)" accept=".xls" />
                        </label>

                        <button type="submit" class="btn btn-primary" style="width: fit-content;" [disabled]="!uploadedAssignment">Process</button>
                    </div>

                </div>

            </form>

            <table class="table">
                <tbody>
                    <tr>
                        <td width="50%" style="text-align: right;">Total Record</td>
                        <td width="50%" style="text-align: left;">{{assignment?.record?.total || 0}} Row(s)
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" style="text-align: right;">Total Success Record</td>
                        <td width="50%" style="text-align: left;">{{assignment?.record?.success || 0}} Row(s)
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" style="text-align: right;">Total Failed Record</td>
                        <td width="50%" style="text-align: left;">{{assignment?.record?.failed || 0}} Row(s)
                        </td>
                    </tr>
                </tbody>
            </table>

            <button class="btn btn-outline" (click)="getProcessedFile($event)" [disabled]="!assignmentBlob">
                <clr-icon shape="download"></clr-icon>
                Download Error Report
            </button>

            <br>

            <clr-datagrid>
                <clr-dg-column>Row</clr-dg-column>
                <clr-dg-column>Error Message</clr-dg-column>

                <clr-dg-placeholder>No error found!</clr-dg-placeholder>

                <clr-dg-footer>
                    <ng-template [ngIf]="pagination?.totalItems > 0">
                        {{+pagination?.firstItem + 1}} - {{+pagination?.lastItem + 1}} of
                    </ng-template>

                    {{pagination?.totalItems}} errors

                    <clr-dg-pagination #pagination></clr-dg-pagination>
                </clr-dg-footer>

            </clr-datagrid>

            <div class="btn-group btn-primary btn-right" style="margin-top: .25rem;">
                <button type="submit" class="btn" [clrLoading]="false">
                    <clr-icon shape="floppy"></clr-icon>
                    Save
                </button>
                <button type="button" class="btn" (click)="openCancelModal($event)">
                    <clr-icon shape="undo"></clr-icon>
                    Cancel
                </button>
            </div>

            <clr-modal [(clrModalOpen)]="openProcessModal">
                <div class="modal-body">
                    <p>Are you sure want to upload this file?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" (click)="openProcessModal = false">No</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="processUa($event)">
                        Yes
                    </button>
                </div>
            </clr-modal>

            <clr-modal [(clrModalOpen)]="openCloseModal">
                <!-- <h3 class="modal-title">Send Notification Reminder</h3> -->
                <div class="modal-body">
                    <p>Are you sure want to Close Upload ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" (click)="openCloseModal = false">No</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="openCloseModal = false">
                        Yes
                    </button>
                </div>
            </clr-modal>

            <fema-cms-modal-cancel [(isOpen)]="cancelModalOpened"></fema-cms-modal-cancel>

        </main>
    </div>

</clr-main-container>
