<clr-main-container>
    <fema-cms-header></fema-cms-header>

    <div class="content-container">
        <fema-cms-nav></fema-cms-nav>

        <main class="content-area"
              #clrContentArea>
            <h1>Create New User</h1>

            <fema-cms-alert-on-action [errorOnInit]="errorOnInit"
                                      [responseOnAction]="responseOnSave"
                                      [isLoading]="!cmsRespSearchList && !femaRespSearchList && !peopleTypes"
                                      [isFailed]="!cmsRespSearchList || !femaRespSearchList || !peopleTypes"
                                      (retry)="initCreateRespForm()"
                                      (close)="responseOnSave = $event"></fema-cms-alert-on-action>

            <form [formGroup]="createForm"
                  (ngSubmit)="checkFormValidity($event)"
                  *ngIf="cmsRespSearchList && femaRespSearchList && peopleTypes && !errorOnInit">

                <section class="form-block">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                            <div class="form-group">
                                <label class="required">User Name</label>
                                <label for="userNameField"
                                       aria-haspopup="true"
                                       role="tooltip"
                                       class="tooltip tooltip-validation tooltip-md"
                                       [class.invalid]="invalidField('username')">
                                    <input type="text"
                                           id="userNameField"
                                           placeholder="User name"
                                           formControlName="username"
                                           maxlength="50" />

                                    <span class="tooltip-content"
                                          *ngIf="createForm?.get('username')?.errors?.required">
                                        Username must be filled
                                    </span>

                                    <span class="tooltip-content"
                                          *ngIf="createForm?.get('username')?.errors?.maxlength">
                                        {{createForm?.get('username')?.errors?.maxlength?.actualLength}} of max. {{createForm?.get('username')?.errors?.maxlength?.requiredLength}}
                                        characters
                                    </span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="required">Full Name</label>
                                <label for="fullNameField"
                                       aria-haspopup="true"
                                       role="tooltip"
                                       class="tooltip tooltip-validation tooltip-md"
                                       [class.invalid]="invalidField('fullName')">
                                    <input type="text"
                                           id="fullNameField"
                                           placeholder="Full name"
                                           formControlName="fullName"
                                           maxlength="250" />

                                    <span class="tooltip-content"
                                          *ngIf="createForm?.get('fullName')?.errors?.required">
                                        Full name must be filled
                                    </span>

                                    <span class="tooltip-content"
                                          *ngIf="createForm?.get('fullName')?.errors?.maxlength">
                                        {{createForm?.get('fullName')?.errors?.maxlength?.actualLength}} of max. {{createForm?.get('fullName')?.errors?.maxlength?.requiredLength}}
                                        characters
                                    </span>
                                </label>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-5">
                            <div class="form-group">
                                <label for="peopleTypeField"
                                       class="required">People Type</label>
                                <div class="select">
                                    <select id="peopleTypeField"
                                            formControlName="peopleTypeLookupId">
                                        <option *ngFor="let peopleType of peopleTypes"
                                                [value]="peopleType?.id">
                                            {{peopleType?.meaning}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="required">Active</label>
                                <div class="toggle-switch">
                                    <input type="checkbox"
                                           id="activeToggle"
                                           formControlName="active" />
                                    <label for="activeToggle">{{createForm?.getRawValue()?.active ? 'Yes' : 'No'}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

                <hr/>

                <section class="form-block">

                    <label>Personal Info</label>

                    <div class="form-group">
                        <label for="birthDateField"
                               class="required">Birth Date</label>
                        <label aria-haspopup="true"
                               role="tooltip "
                               class="tooltip tooltip-validation tooltip-md"
                               [class.invalid]="invalidField('birthDate')">

                            <input type="text"
                                   (click)="birthDateOpened = true"
                                   [matDatepicker]="domBirthDate"
                                   onkeydown="return false"
                                   placeholder="DD-MMM-YYYY"
                                   formControlName="birthDate"
                                   [max]="currentDate" />

                            <mat-datepicker #domBirthDate
                                            [opened]="birthDateOpened"
                                            (closed)="birthDateOpened = false"
                                            disabled="false">
                            </mat-datepicker>

                            <span class="tooltip-content tooltip-content--show"
                                  *ngIf="createForm?.get('birthDate')?.errors?.required">
                                Birth Date must be filled
                            </span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="required">Email</label>
                        <label for="emailField"
                               aria-haspopup="true"
                               role="tooltip"
                               class="tooltip tooltip-validation tooltip-md"
                               [class.invalid]="invalidField('email')">
                            <input type="text"
                                   id="emailField"
                                   placeholder="Email"
                                   formControlName="email"
                                   maxlength="185"
                                   size="50" />
                            <span class="tooltip-content"
                                  *ngIf="createForm?.get('email')?.errors?.required">
                                Email must be filled
                            </span>

                            <span class="tooltip-content"
                                  *ngIf="createForm?.get('email')?.errors?.email">
                                Email is invalid
                            </span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="required">Phone Number</label>
                        <label for="phoneNumberField"
                               aria-haspopup="true"
                               role="tooltip"
                               class="tooltip tooltip-validation tooltip-md"
                               [class.invalid]="invalidField('phoneNumber')">
                            <input type="text"
                                   pattern="[+62]{3}[0-9]+"
                                   id="phoneNumberField"
                                   placeholder="+62xxx"
                                   formControlName="phoneNumber"
                                   size="50"
                                   maxlength="15" />
                            <span class="tooltip-content"
                                  *ngIf="createForm?.get('phoneNumber')?.errors?.required">
                                Phone Number must be filled
                            </span>

                            <span class="tooltip-content"
                                  *ngIf="createForm?.get('phoneNumber')?.errors?.maxlength">
                                {{createForm?.get('phoneNumber')?.errors?.maxlength?.actualLength}} of max. {{createForm?.get('phoneNumber')?.errors?.maxlength?.requiredLength}}
                                characters
                            </span>
                            <span class="tooltip-content"
                                  *ngIf="createForm?.get('phoneNumber')?.errors?.pattern">
                                Phone number is invalid
                            </span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="institutionField"
                               class="required">Institution</label>
                        <label aria-haspopup="true"
                               role="tooltip"
                               class="tooltip tooltip-validation tooltip-md"
                               [class.invalid]="invalidField('institution')">
                            <input type="text"
                                   id="institutionField"
                                   placeholder="Institution"
                                   formControlName="institution"
                                   maxlength="150"
                                   size="50" />
                            <span class="tooltip-content"
                                  *ngIf="createForm?.get('institution')?.errors?.required">
                                Institution must be filled
                            </span>

                            <span class="tooltip-content"
                                  *ngIf="createForm?.get('institution')?.errors?.maxlength">
                                {{createForm?.get('institution')?.errors?.maxlength?.actualLength}} of max. {{createForm?.get('institution')?.errors?.maxlength?.requiredLength}}
                                characters
                            </span>
                        </label>
                    </div>
                    <datalist id="branchSuggestion">
                        <option *ngFor="let branch of branchSuggestion"
                                [value]="branch">
                            {{branch}}
                        </option>
                    </datalist>
                    <div class="form-group">
                        <label for="locationField"
                               class="required">Location</label>
                        <label for="locationField"
                               aria-haspopup="true"
                               role="tooltip"
                               class="tooltip tooltip-validation tooltip-md"
                               [class.invalid]="invalidField('branchCode')">
                            <input type="text"
                                   id="locationField"
                                   placeholder="Location"
                                   formControlName="branchCode"
                                   (blur)="checkBranchSuggestion($event, 'branchCode')"
                                   [attr.list]="createForm?.getRawValue()?.branchCode?.length >= autocompMinChar ? 'branchSuggestion' : ''"

                                   maxlength="150"
                                   size="50" />
                            <span class="tooltip-content"
                                  *ngIf="createForm?.get('branchCode')?.errors?.required">
                                Location must be filled
                            </span>
                            <span class="tooltip-content"
                                  *ngIf="createForm?.get('branchCode')?.errors?.maxlength">
                                {{createForm?.get('branchCode')?.errors?.maxlength?.actualLength}} of max. {{createForm?.get('branchCode')?.errors?.maxlength?.requiredLength}}
                                characters
                            </span>
                        </label>
                    </div>

                    <datalist id="orgSuggestion">
                        <option *ngFor="let org of orgSuggestion"
                                [value]="org">
                            {{org}}
                        </option>
                    </datalist>

                    <div class="form-group">
                        <label for="organizationField"
                               class="required">Organization</label>
                        <label aria-haspopup="true"
                               role="tooltip"
                               class="tooltip tooltip-validation tooltip-md"
                               [class.invalid]="invalidField('orgCode') || (orgInvalid && saveIsPressed)">
                            <input type="text"
                                   id="organizationField"
                                   placeholder="Organization"
                                   formControlName="orgCode"
                                   maxlength="240"
                                   size="50"
                                   (blur)="checkOrgSuggestion($event, 'orgCode')"
                                   [attr.list]="createForm?.getRawValue()?.orgCode?.length >= autocompMinChar ? 'orgSuggestion' : ''"
                            />
                            <span class="tooltip-content"
                                  *ngIf="createForm?.get('orgCode')?.errors?.required">
                                Organization must be filled
                            </span>
                            <span class="tooltip-content"
                                  *ngIf="orgInvalid && saveIsPressed">
                                Organization invalid
                            </span>
                            <span class="tooltip-content"
                                  *ngIf="createForm?.get('orgCode')?.errors?.maxlength">
                                {{createForm?.get('orgCode')?.errors?.maxlength?.actualLength}} of max. {{createForm?.get('orgCode')?.errors?.maxlength?.requiredLength}}
                                characters
                            </span>
                        </label>
                    </div>

                    <datalist id="jobSuggestion">
                        <option *ngFor="let jobSuggest of jobSuggestion"
                                [value]="jobSuggest">
                            {{jobSuggest}}
                        </option>
                    </datalist>
                    <div class="form-group">
                        <label>Job</label>
                        <label for="jobField"
                               aria-haspopup="true"
                               role="tooltip"
                               class="tooltip tooltip-validation tooltip-md"
                               [class.invalid]="invalidField('jobCode') || (jobInvalid && saveIsPressed)">
                            <input type="text"
                                   id="jobField"
                                   placeholder="Job"
                                   formControlName="jobCode"
                                   maxlength="150"
                                   (blur)="checkJobSuggestion($event, 'jobCode')"
                                   size="50"
                                   [attr.list]="createForm?.getRawValue()?.jobCode?.length >= autocompMinChar ? 'jobSuggestion' : ''"
                            />
                            <span class="tooltip-content"
                                  *ngIf="jobInvalid && saveIsPressed">
                                Job invalid
                            </span>
                        </label>
                    </div>
                </section>

                <hr/>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">

                        <clr-tabs>

                            <clr-tab>
                                <a clrTabLink="clrTabLink">CMS</a>
                                <clr-tab-content *clrIfActive>

                                    <clr-alert [clrAlertType]="'alert-warning'"
                                               [clrAlertClosable]="false"
                                               *ngIf="createForm?.get(['userResponsibilitiesWeb', '0']) === null && createForm?.get(['userResponsibilitiesMobile', '0']) === null && saveIsPressed">
                                        <div clr-alert-item="clr-alert-item"
                                             class="alert-item">
                                            <span class="alert-text">
                                                Requires at least 1 CMS responsibility
                                            </span>
                                        </div>
                                    </clr-alert>

                                    <datalist id="cmsRespNameSelection">
                                        <option *ngFor="let resp of filteredCmsRespSearchList"
                                                [value]="resp?.name">{{resp?.name}}</option>
                                    </datalist>

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <clr-checkbox formControlName="selectAllRespWeb"></clr-checkbox>
                                                </th>
                                                <th>Responsibility</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>

                                        <tbody formArrayName="userResponsibilitiesWeb">
                                            <tr *ngFor="let webForm of webRespForm?.controls; let i = index;"
                                                [formGroupName]="i">
                                                <td>
                                                    <clr-checkbox formControlName="selected"></clr-checkbox>
                                                </td>
                                                <td>
                                                    <label [for]="'cmsWebRespNameField' + i"
                                                           aria-haspopup="true"
                                                           role="tooltip"
                                                           class="tooltip tooltip-validation tooltip-md"
                                                           [class.invalid]="invalidField(['userResponsibilitiesWeb', i?.toString(), 'name'])">
                                                        <input type="text"
                                                               [id]="'cmsWebRespNameField' + i"
                                                               list="cmsRespNameSelection"
                                                               formControlName="name"
                                                               (blur)="checkCmsName($event, ['userResponsibilitiesWeb', i?.toString(), 'name'])"

                                                               maxlength="100" />
                                                        <span class="tooltip-content"
                                                              *ngIf="createForm?.get(['userResponsibilitiesWeb', i?.toString(), 'name'])?.errors?.required">
                                                            Responsibility must be filled
                                                        </span>

                                                        <span class="tooltip-content"
                                                              *ngIf="createForm?.get(['userResponsibilitiesWeb', i?.toString(), 'name'])?.errors?.maxlength">
                                                            {{createForm?.get(['userResponsibilitiesWeb', i?.toString(), 'name'])?.errors?.maxlength?.actualLength}} of max. {{createForm?.get(['userResponsibilitiesWeb',
                                                            i?.toString(), 'name'])?.errors?.maxlength?.requiredLength}}
                                                            characters
                                                        </span>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label [for]="'cmsWebRespDescField' + i"
                                                           aria-haspopup="true"
                                                           role="tooltip"
                                                           class="tooltip tooltip-validation tooltip-md"
                                                           [class.invalid]="invalidField(['userResponsibilitiesWeb', i?.toString(), 'note'])">
                                                        <input type="text"
                                                               [id]="'cmsWebRespDescField' + i"
                                                               formControlName="note"
                                                               maxlength="250" />

                                                        <span class="tooltip-content"
                                                              *ngIf="createForm?.get(['userResponsibilitiesWeb', i?.toString(), 'note'])?.errors?.maxlength">
                                                            {{createForm?.get(['userResponsibilitiesWeb', i?.toString(), 'note'])?.errors?.maxlength?.actualLength}} of max. {{createForm?.get(['userResponsibilitiesWeb',
                                                            i?.toString(), 'note'])?.errors?.maxlength?.requiredLength}}
                                                            characters
                                                        </span>
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <br/>

                                    <div class="btn-group">
                                        <button type="buttton"
                                                class="btn"
                                                (click)="addCMSResp($event)">
                                            <clr-icon shape="add"></clr-icon>
                                            Add Responsibility
                                        </button>
                                        <button type="buttton"
                                                class="btn"
                                                (click)="removeSelectedCMSResp($event)">
                                            <clr-icon shape="remove"></clr-icon>
                                            Remove Selected
                                        </button>
                                    </div>
                                </clr-tab-content>
                            </clr-tab>

                            <clr-tab>
                                <a clrTabLink="clrTabLink">FEMA</a>

                                <clr-tab-content *clrIfActive>

                                    <clr-alert [clrAlertType]="'alert-warning'"
                                               [clrAlertClosable]="saveIsPressed"
                                               *ngIf="createForm?.get(['userResponsibilitiesWeb', '0']) === null && createForm?.get(['userResponsibilitiesMobile', '0']) === null && saveIsPressed">
                                        <div clr-alert-item="clr-alert-item"
                                             class="alert-item">
                                            <span class="alert-text">
                                                Requires at least 1 FEMA responsibility
                                            </span>
                                        </div>
                                    </clr-alert>

                                    <datalist id="femaRespNameSelection">
                                        <option *ngFor="let resp of filteredFemaRespSearchList"
                                                [value]="resp?.name">{{resp?.name}}</option>
                                    </datalist>

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <clr-checkbox formControlName="selectAllRespMob"></clr-checkbox>
                                                </th>
                                                <th>Responsibility</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>

                                        <tbody formArrayName="userResponsibilitiesMobile">
                                            <tr *ngFor="let mobileForm of mobileRespForm?.controls; let i = index;"
                                                [formGroupName]="i">
                                                <td>
                                                    <clr-checkbox formControlName="selected"></clr-checkbox>
                                                </td>
                                                <td>
                                                    <label [for]="'cmsMobileRespNameField' + i"
                                                           aria-haspopup="true"
                                                           role="tooltip"
                                                           class="tooltip tooltip-validation tooltip-md"
                                                           [class.invalid]="invalidField(['userResponsibilitiesMobile', i?.toString(), 'name'])">
                                                        <input type="text"
                                                               [id]="'cmsMobileRespNameField' + i"
                                                               list="femaRespNameSelection"
                                                               formControlName="name"
                                                               (blur)="checkFemaName($event, ['userResponsibilitiesMobile', i?.toString(), 'name'])"

                                                               maxlength="100" />
                                                        <span class="tooltip-content"
                                                              *ngIf="createForm?.get(['userResponsibilitiesMobile', i?.toString(), 'name'])?.errors?.required">
                                                            Responsibility name must be filled
                                                        </span>

                                                        <span class="tooltip-content"
                                                              *ngIf="createForm?.get(['userResponsibilitiesMobile', i?.toString(), 'name'])?.errors?.maxlength">
                                                            {{createForm?.get(['userResponsibilitiesMobile', i?.toString(), 'name'])?.errors?.maxlength?.actualLength}} of max. {{createForm?.get(['userResponsibilitiesMobile',
                                                            i?.toString(), 'name'])?.errors?.maxlength?.requiredLength}}
                                                            characters
                                                        </span>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label [for]="'cmsMobileRespDescField' + i"
                                                           aria-haspopup="true"
                                                           role="tooltip"
                                                           class="tooltip tooltip-validation tooltip-md"
                                                           [class.invalid]="invalidField(['userResponsibilitiesMobile', i?.toString(), 'note'])">
                                                        <input type="text"
                                                               [id]="'cmsMobileRespDescField' + i"
                                                               formControlName="note"
                                                               maxlength="250" />

                                                        <span class="tooltip-content"
                                                              *ngIf="createForm?.get(['userResponsibilitiesMobile', i?.toString(), 'note'])?.errors?.maxlength">
                                                            {{createForm?.get(['userResponsibilitiesMobile', i?.toString(), 'note'])?.errors?.maxlength?.actualLength}} of max. {{createForm?.get(['userResponsibilitiesMobile',
                                                            i?.toString(), 'note'])?.errors?.maxlength?.requiredLength}}
                                                            characters
                                                        </span>
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <br/>

                                    <div class="btn-group">
                                        <button type="buttton"
                                                class="btn"
                                                (click)="addFEMAResp($event)">
                                            <clr-icon shape="add"></clr-icon>
                                            Add Responsibility
                                        </button>
                                        <button type="buttton"
                                                class="btn"
                                                (click)="removeSelectedFEMAResp($event)">
                                            <clr-icon shape="remove"></clr-icon>
                                            Remove Selected
                                        </button>
                                    </div>

                                </clr-tab-content>
                            </clr-tab>

                        </clr-tabs>
                    </div>
                </div>

                <br/>

                <hr/>

                <div class="btn-group btn-primary btn-right">
                    <button type="submit"
                            class="btn"
                            [clrLoading]="isSaving">
                        <clr-icon shape="floppy"></clr-icon>
                        Save
                    </button>
                    <button type="button"
                            class="btn"
                            (click)="openCancelModal($event)">
                        <clr-icon shape="undo"></clr-icon>
                        Cancel
                    </button>
                </div>
            </form>

            <fema-cms-modal-cancel 
                [(isOpen)]="cancelModalOpened"
                [returnLink]="'/user/search'"></fema-cms-modal-cancel>

            <fema-cms-modal-save [(isOpen)]="saveModalOpened"
                                 [(isOpenSuccess)]="successModalOpened"
                                 (save)="save()"
                                 [returnLink]="'/user/search'"></fema-cms-modal-save>

        </main>
    </div>
</clr-main-container>
