ul {
    list-style-type: none;
    position: relative;
}

ul li {
    margin-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
}

ul li:after {
    position: absolute;
    right: 5px;
    bottom: 0;
}

ul li:before {
    position: absolute;
    left: 5px;
}

.table th {
    font-size: 0.75167rem;
}
