<clr-main-container>

    <fema-cms-header></fema-cms-header>

    <div class="content-container">

        <fema-cms-nav></fema-cms-nav>

        <main class="content-area"
              #clrContentArea>

            <h1>Search Content</h1>

            <fema-cms-alert-on-action [errorOnInit]="errorOnInit"
                                      [responseOnAction]="responseOnAction"
                                      (retry)="initialSetup()"
                                      (close)="responseOnAction = $event; uiState.searchIsPressed = false;"></fema-cms-alert-on-action>

            <form [formGroup]="contentForm"
                  (ngSubmit)="checkSearchParams($event)">

                <section class="form-block">

                    <datalist id="contentSuggestions">
                        <option *ngFor="let contentSuggestion of contentSuggestions"
                                [value]="contentSuggestion?.title">
                            {{contentSuggestion?.title}}
                        </option>
                    </datalist>

                    <div class="form-group">

                        <label for="titleField">Title</label>

                        <input type="text"
                               id="titleField"
                               placeholder="Search by title"
                               formControlName="title"
                               maxlength="30"
                               size="50"
                               [attr.list]="titleDatalist"/>

                    </div>

                    <div class="form-group">

                        <label for="contentSetupType">Content Type</label>

                        <div class="select">

                            <select id="contentSetupType"
                                    [formControlName]="'contentSetupType'">

                                <option *ngFor="let type of contentTypes"
                                        [value]="type?.value">{{type?.label}}
                                </option>

                            </select>

                        </div>

                    </div>

                    <div class="form-group">

                        <label for="contentReceiverType">Content Receiver</label>

                        <div class="select">

                            <select id="contentReceiverType"
                                    [formControlName]="'contentReceiverType'">

                                <option *ngFor="let receiver of contentReceivers"
                                        [value]="receiver?.value">{{receiver?.label}}
                                </option>

                            </select>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 col-xl-6">

                            <div class="form-group">

                                <label>Active Period Start</label>

                                <input type="text"
                                       (click)="uiState.startActivePeriodIsOpen = true"
                                       [matDatepicker]="domStartActivePeriod"
                                       [max]="contentForm?.getRawValue()?.endActivePeriod"
                                       onkeydown="return false"
                                       placeholder="DD-MMM-YYYY"
                                       formControlName="startActivePeriod"
                                       size="15"/>

                                <clr-icon *ngIf="contentForm?.get('startActivePeriod')?.value"
                                          shape="times"
                                          style="height: auto"
                                          (click)="resetCalendar($event, 'startActivePeriod')"></clr-icon>

                                <mat-datepicker #domStartActivePeriod
                                                [opened]="uiState?.startActivePeriodIsOpen"
                                                (closed)="uiState.startActivePeriodIsOpen = false"
                                                disabled="false"></mat-datepicker>
                            </div>

                        </div>

                        <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 col-xl-6">

                            <div class="form-group">

                                <label>Active Period End</label>

                                <input type="text"
                                       (click)="uiState.endActivePeriodIsOpen = true"
                                       [matDatepicker]="domEndActivePeriod"
                                       [min]="contentForm?.getRawValue()?.startActivePeriod"
                                       onkeydown="return false"
                                       placeholder="DD-MMM-YYYY"
                                       formControlName="endActivePeriod"
                                       size="15"/>

                                <clr-icon *ngIf="contentForm?.get('endActivePeriod')?.value"
                                          shape="times"
                                          style="height: auto"
                                          (click)="resetCalendar($event, 'endActivePeriod')"></clr-icon>

                                <mat-datepicker #domEndActivePeriod
                                                [opened]="uiState?.endActivePeriodIsOpen"
                                                (closed)="uiState.endActivePeriodIsOpen = false"
                                                disabled="false"></mat-datepicker>

                            </div>

                        </div>

                    </div>

                </section>

                <div class="btn-group btn-primary">

                    <button type="submit"
                            class="btn btn-icon"
                            [clrLoading]="uiState?.isSearching">

                        <clr-icon shape="search"></clr-icon>

                        Search

                    </button>

                    <button type="button"
                            class="btn"
                            routerLink="/content/create">

                        <clr-icon shape="plus"></clr-icon>

                        New

                    </button>

                </div>

            </form>

            <clr-datagrid (clrDgRefresh)="clrPage?.next($event)"
                          [clrDgLoading]="uiState?.isSearching">

                <clr-dg-column>Action</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="'title'">Title</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="'contentReceiver'">Content Receiver</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="'modifiedDate'">Last Updated Date</clr-dg-column>
                <clr-dg-column [clrDgSortBy]="'modifiedBy'">Last Updated By</clr-dg-column>

                <clr-dg-placeholder>No data found!</clr-dg-placeholder>

                <clr-dg-row *ngFor="let content of contentSearchList?.dataList">

                    <clr-dg-cell>

                        <a [routerLink]="['/content', content?.id]">View</a>

                        |

                        <a [routerLink]="['/content/edit', content?.id]">Edit</a>

                    </clr-dg-cell>

                    <clr-dg-cell style="word-wrap: break-word;">{{content?.title}}</clr-dg-cell>

                    <clr-dg-cell>{{content?.contentReceiver}}</clr-dg-cell>

                    <clr-dg-cell>{{content?.lastUpdateDate | date:'dd-MMM-yyyy HH:mm:ss'}}</clr-dg-cell>

                    <clr-dg-cell>{{content?.lastUpdateBy || '-'}}</clr-dg-cell>

                </clr-dg-row>

                <clr-dg-footer>
                    {{pagination?.firstItem + 1}} - {{pagination?.lastItem + 1}} of {{contentSearchList?.totalCount}}
                    contents

                    <clr-dg-pagination #pagination
                                       [clrDgPage]="contentSearchList?.currentPage"
                                       [clrDgPageSize]="contentSearchList?.pageSize"
                                       [clrDgTotalItems]="contentSearchList?.totalCount"></clr-dg-pagination>

                </clr-dg-footer>

            </clr-datagrid>

            <button type="button"
                    class="btn btn-primary btn-right"
                    (click)="downloadReport($event)"
                    [disabled]="downloadIsDisabled"
                    [clrLoading]="uiState?.reportIsDownloading">

                <clr-icon shape="download"></clr-icon>

                Download

            </button>

            <fema-cms-modal-search [(isOpen)]="uiState.searchModalIsOpen"
                                   (search)="searchByInput()"></fema-cms-modal-search>

        </main>
    </div>

</clr-main-container>
